activator:
  activator:
    image:
      repository: gcr.io/knative-releases/knative.dev/serving/cmd/activator
      tag: v1.3.2
    resources:
      limits:
        cpu: "1"
        memory: 600Mi
      requests:
        cpu: 300m
        memory: 60Mi
activatorService:
  ports:
    - name: http-metrics
      port: 9090
      targetPort: 9090
    - name: http-profiling
      port: 8008
      targetPort: 8008
    - name: http
      port: 80
      targetPort: 8012
    - name: http2
      port: 81
      targetPort: 8013
  type: ClusterIP
autoscaler:
  autoscaler:
    image:
      repository: gcr.io/knative-releases/knative.dev/serving/cmd/autoscaler
      tag: v1.3.2
    resources:
      limits:
        cpu: "1"
        memory: 1000Mi
      requests:
        cpu: 100m
        memory: 100Mi
  ports:
    - name: http-metrics
      port: 9090
      targetPort: 9090
    - name: http-profiling
      port: 8008
      targetPort: 8008
    - name: http
      port: 8080
      targetPort: 8080
  replicas: 1
  type: ClusterIP
configAutoscaler:
configDefaults:
configDeployment:
  queueSidecarImage:
    repository: gcr.io/knative-releases/knative.dev/serving/cmd/queue
    tag: v1.3.2
configDomain:
configFeatures:
configGc:
configKourier:
configLeaderElection:
configLogging:
configNetwork:
configObservability:
configTracing:
controller:
  controller:
    image:
      repository: gcr.io/knative-releases/knative.dev/serving/cmd/controller
      tag: v1.3.2
    resources:
      limits:
        cpu: "1"
        memory: 1000Mi
      requests:
        cpu: 100m
        memory: 100Mi
  ports:
    - name: http-metrics
      port: 9090
      targetPort: 9090
    - name: http-profiling
      port: 8008
      targetPort: 8008
  type: ClusterIP
domainMapping:
  domainMapping:
    image:
      repository: gcr.io/knative-releases/knative.dev/serving/cmd/domain-mapping
      tag: v1.3.2
    resources:
      limits:
        cpu: 300m
        memory: 400Mi
      requests:
        cpu: 30m
        memory: 40Mi
domainmappingWebhook:
  domainmappingWebhook:
    image:
      repository: gcr.io/knative-releases/knative.dev/serving/cmd/domain-mapping-webhook
      tag: v1.3.2
    resources:
      limits:
        cpu: 500m
        memory: 500Mi
      requests:
        cpu: 100m
        memory: 100Mi
  ports:
    - name: http-metrics
      port: 9090
      targetPort: 9090
    - name: http-profiling
      port: 8008
      targetPort: 8008
    - name: https-webhook
      port: 443
      targetPort: 8443
  type: ClusterIP
kubernetesClusterDomain: cluster.local
netContourController:
  controller:
    image:
      repository: gcr.io/knative-releases/knative.dev/net-contour/cmd/controller
      tag: v1.3.0
    resources:
      limits:
        cpu: 400m
        memory: 400Mi
      requests:
        cpu: 40m
        memory: 40Mi
  replicas: 1
defaultDomain:
  job:
    image:
      repository: gcr.io/knative-releases/knative.dev/serving/cmd/default-domain
      tag: v1.3.2
  ports:
    - name: http
      port: 80
      targetPort: 8080
  type: ClusterIP
webhook:
  ports:
    - name: http-metrics
      port: 9090
      targetPort: 9090
    - name: http-profiling
      port: 8008
      targetPort: 8008
    - name: https-webhook
      port: 443
      targetPort: 8443
  type: ClusterIP
  webhook:
    image:
      repository: gcr.io/knative-releases/knative.dev/serving/cmd/webhook
      tag: v1.3.2
    resources:
      limits:
        cpu: 500m
        memory: 500Mi
      requests:
        cpu: 100m
        memory: 100Mi